/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


* {
    margin: 0;
    padding: 0;
}


#contenedor{
    width: 900px;
    height: 600px;
    background-color: black;
    position: relative;
    z-index: -100;
}



#cartel{
    width: 400px;
    height: 200px;
    top: 200px;
    left:250px;
    background-color: gainsboro;
    z-index: 2;
    visibility: hidden;
    position: absolute;

}
#cartel2{
    width: 400px;
    height: 200px;
    top: 0px;
    left:910px;
    visibility: hidden;
    position: absolute;

}

#cartel3{
    width: 900px;
    height: 600px;
    position: absolute;
    visibility: visible;
    z-index: 0;
}

.bt{
    width : 150px ;
    height : 30px;
    position: absolute;
    background-color: red;
    visibility: hidden;
    z-index : 1;
    
}
#bt1{
    top : 500px;
    left : 200px;
}
#bt2{
    top : 500px;
    left : 550px;
}